.zone1pc {
    background-color: #FFFFFF;
    padding: 40px;
    font-family: Arial;
    text-align: left;
    height: 145vh;
  }

  .zone2pc {
    background-color: #fbf1df;
    height: 145vh;
  }

  .zone1tablet {
    background-color: #FFFFFF;
    padding: 40px;
    font-family: Arial;
    text-align: left;
    height: 140vh;
  }

  .zone2tablet {
    background-color: #fbf1df;
    height: 60vh;
  }

  .zone2Phone {
    background-color: #fbf1df;
    height: 40vh;
  }
  

  .logoPhotoPC {
    padding-left:0%;
    padding-top: 100px;
  }

  .logoPhotoTablet {
    padding-left:0%;
    margin-left: auto;
    margin-right: auto;
  
  }

  .logoPhotoMobile {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  
  }



  .profileHeader {
    text-align: left;
    padding-left: 40px;;
  } 
  
  .brownHeader {
    color: #8f5f15;
  } 
  
 .spaceObject
 {
  padding-right: 1rem;
  margin-bottom: 1rem;
 }
  



  
